name: Build and Cache

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          lfs: true  # Fetch LFS files

      - name: Install Nix
        uses: cachix/install-nix-action@v27
        with:
          nix_path: nixpkgs=channel:nixos-unstable

      - name: Setup Cachix
        uses: cachix/cachix-action@v15
        with:
          name: pokedex
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'

      - name: Build with Nix
        run: |
          nix build .#pokedex
          nix build .#devShells.x86_64-linux.default
